<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Mastermind</title>

    <link rel="icon" href="images/logo.png" type="image/png">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/reset.css">
    <link rel="stylesheet" href="styles/page.css">
</head>

<body>
    <header>
        <img src="images/logo.png" alt="Mastermind logo">
        <h1>Mastermind</h1>
    </header>
    <main>
        <nav>
            <a href="/play">Play</a>
            <a href="https://en.wikipedia.org/wiki/Mastermind_(board_game)" target="_blank">Rules</a>
            <a href="https://github.com/InversedLoL/mastermind" target="_blank">Source</a>
        </nav>
    </main>
    <footer>
        <section id="credits">
            <p>&copy; 2021 CSE3 20, Delft</p>
        </section>
        <section id="statistics">
            <ul>
                <li>
                    <%= gamesPlayed %> game(s) played
                </li>
                <li>
                    <%= wins %> win(s)
                </li>
        </section>
    </footer>
</body>

</html>
